<div class="md-copyright">
        <style>          
            .logo {
                float: right;    
                 margin: 0 0 0 15px;
                }
        </style>

        <img class="logo" src="assets/images/govuk-crest-2x.png" width=125px height=102px; >

        <img src="assets/images/ogl.png" >
        All content is available under the 
        <a
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            target="_blank" rel="noopener"
        >
            Open Government Licence v3.0</a>
        , except where otherwise stated
</div>